@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #009ACF,#321163);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #230c4688;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #321163;
    text-shadow: 1px 1px 0px #32116387;
}

h2{
    color: #38380b;

}

p {
    text-align: justify;

}