@charset "UTF-8";

/*
    em HTML é id     =     em CSS é # (só pode um elemento)
    em HTML é class  =     em CSS é . (pode vários elementos)

                  */

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: blueviolet;
    
}

h1#principal {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 40px;
}

h2{
    color: red;
}

.basico {
    color: green;


}

.intermediario{
    color: red;
}

.avancado{
    color: blue;
}

.destaque{
    color: black;
    background-color: rgba(118, 16, 16, 0.646);
}